apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: sports-betting-dev
type: Opaque
data:
  # Base64 encoded values
  # echo -n "sportsuser" | base64
  DB_USER: c3BvcnRzdXNlcg==
  # echo -n "sportspassword" | base64
  DB_PASSWORD: c3BvcnRzcGFzc3dvcmQ=